.dropdrown-border {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

i.fa, i.icon {
    margin-right: 0.4em;
}

textarea.form-control.resizeable {
    overflow-y: hidden;
}

.skin-blue-light .sidebar-menu > li.active > a {
    color: #000;
    background-color: #cfdde4
}

.skin-blue-light .sidebar-menu > li:hover > a {
    color: #000;
    background-color: #cfdde4
}