<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ExcelImport" type="DU.Themes.Configuration.PropertyMappings, DU.Themes.Configuration" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <ExcelImport>
    <Properties>
      <Property poco="FirstName" excel="Vārds" />
      <Property poco="ProgramName" excel="Programmas nos." />
      <Property poco="ProgramLevel" excel="Prog. Līmenis" />
      <!--<Property poco="LastName" excel="Uzvārds" />
      <Property poco="StudentIdentifier" excel="Apliec.num" />
      <Property poco="ProgramName" excel="Programmas nos." />
      <Property poco="ProgramLevel" excel="Prog. Līmenis" />
      <Property poco="StudyForm" excel="Studiju forma" />
      <Property poco="Email" excel="E-pasts" />
      <Property poco="Year" excel="kurss" />-->
      <!--<Property poco="IsTeacher" excel="IsTeacher" />-->
    </Properties>
  </ExcelImport>
  
  
</configuration>