
@{
    ViewBag.Title = "Import";
}

<section class="content">
    <div class="row">
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Upload Excel file</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @using (var form = Html.BeginForm("Upload", "Maintenance", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="box-body">
                        <div class="form-group">
                            <input type="file" name="file" id="exampleInputFile">
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                }
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
